//breack's

$break_xxs: 360px;
$break_xs: 481px;
$break_s: 601px;
$break_m: 768px;
$break_l: 961px;
$break_xl: 1281px;
$break_xxl: 1600px;
$break_max: 1920px;

$break_desktop: $break_m;

//distance

$grid_dist_media_mobile: 10 * 1px;
$grid_dist_media_desktop: 14 * 1px;

//grid-vars
$grid-gutter-mobile: $grid_dist_media_mobile * 1;
$grid-margin-mobile: $grid_dist_media_mobile * 1;
$grid-padding-mobile: $grid_dist_media_mobile * 1;

// a partir de: min-width: Desktop-break
$grid-gutter-desktop: $grid_dist_media_desktop * 1;
$grid-margin-desktop: $grid_dist_media_desktop * 1;
$grid-padding-desktop: $grid_dist_media_desktop * 1;

//cols
$grid_col_xxs: 4;
$grid_col_xs: 6;
$grid_col_l: 12;

$grid_divider_col_xxs: 100% / $grid_col_xxs;
$grid_divider_col_xs: 100% / $grid_col_xs;
$grid_divider_col_l: 100% / $grid_col_l;

@mixin dist-media($props) {
  @each $prop, $valueMobile, $valueDesktop in $props {
    #{$prop}: #{$valueMobile * $grid_dist_media_mobile};
  }

  @media screen and (min-width: $break_desktop) {
    @each $prop, $valueMobile, $valueDesktop in $props {
      #{$prop}: #{$valueDesktop * $grid_dist_media_desktop};
    }
  }
}
