.heading-1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0.4rem;
}
.heading-2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0.6rem 0 1rem;
}
.heading-3 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0.6rem 0;
}
.heading-4 {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 0.6rem 0;
}
.heading-5 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0rem;
  margin: 0.6rem 0;
}

.heading-5 {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0rem;
  margin: 0.6rem 0;
}

p {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--color-grey-dark);
}

.sub-title {
  position: relative;
  &:after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: var(--color-grey-dark);
    /* margin-top: -10px; */
    position: absolute;
    left: 0;
    bottom: -14px;
  }
}

ol,
ul {
  > li {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
