@import "../../../styles/grid";

.container {
  display: grid;
  @include dist-media(
    $props: (
      (gap, 2, 2),
      (margin-top, 6, 6),
    )
  );

  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  > li {
    display: flex;
    flex-flow: column;
  }
}

.description {
  color: var(--color-grey-l5);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  flex: auto;
}

.imgWrp {
  background-color: var(--color-grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: fit-content;
}
